*.gcda
*.o
.deps
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/TAGS
/config.guess
/config.sub
/measure-sched-delays
/measure-sched-delays.exe
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
